@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: lightblue;
    text-decoration: unset;
}

ul{
    margin-left: 1.5rem;
    list-style: none;
}

button,
input[type='submit']{
    border: none;
    background: none;
    color: unset;
    cursor: pointer;
}

h1,h2,h3,h4,h5,h6,p,ul,ol{
    margin: 1em 0;
}

body{
    font-family: Lato, sans-serif;
}

#header{
    background-color: indigo;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: purple;
}

#header .title{
    padding: 0 1rem;
    margin: 0;
    color: white;
}
#header .auth-options{
    
    display: flex;
    height: 100%;
}
#header .auth-options button{
    background-color: rgb(224, 69, 224);
    padding: 0 1rem;
    color: white;
    font-size: 1.1rem;

}

#header .auth-options button:hover{
    background-color: rgb(255, 85, 255);
}